!!!
%html
  %head
    %title
      = @site_title ||= '2threads Shop'
      \-
      = @page_title ||= "#{controller.controller_name.titleize} #{controller.action_name.titleize}"
    
    = stylesheet_link_tag 'compiled/application', :media => 'all'
    = javascript_include_tag(Rails.env == :production ? "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" : "jquery.min")
    = javascript_include_tag              |
      "jquery.inline-confirmation",       |
      "application",                      |
      :cache => "cached/application.all"  |
    = csrf_meta_tag
  
  %body
    #wrapper
      #ajax_loader Loading ...
      #ajax_error Error occurred! Please try again later.

      #header
        %h1#logo 2threads Shop
      
      #flash
        - flash.each do |type, message|
          %p= message

      #content
        = yield
        
      #footer
        Copyright &copy;
        = Time.now.year
        = link_to "2threads", "http://2threads.com/", :target => "_blank"